<div class="comment_wrapper">
<%= content_tag(:div, { :id => dom_id(comment) }) do -%>
  <div class="comment">
    <div class="header">
      <p>
        <span class="bold"><%= comment.author %></span> commented <%= time_ago_in_words comment.created_at %> ago
      </p>
      <% if is_logged_in? %>
      <p class="right">
      <%= link_to(content_tag(:span, "", :class => 'ui-state-default ui-corner-all ui-icon ui-icon-trash'), article_comment_path(comment.article, comment), :remote => true, :method => :delete, :title => 'Delete comment', :confirm => "Delete comment?") %>
      </p>
      <% end %>
    </div>

    <div class="body">
      <p>
        <%= comment.body %>
      </p>
    </div>

  </div>
<% end %>
</div>
