<div id="create_new_comment">
<%= error_messages_for :comment %>
<%= form_for([@article, @comment], :remote => true) do |f| %>
  <p>
    <%= f.label :author, 'Name' %>
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :body, 'Comment' %>
    <%= f.text_field :body %>
  </p>

  <p id="email_updates">
    <a href="#">Email me updates on comments to this article</a>
  </p>

  <p id="email_address_info">
    <%= f.label :email, 'Email address' %>
    <%= f.text_field :email, :id => 'email_address_field', :title => "Emails are sent <span class='italic'>only</span> when new comments are made to this article. Your email address will not be seen by others." %>
  </p>

    <p>
      <%= f.submit 'Submit' %>
    </p>
<% end %>
<div class="clearboth"></div>
</div>
