<div id="article_body">
  <%= render :partial => 'article_body', :locals => { :article => @article, :body => @article.body } %>
</div>

<div id="show_article_country_map">
  <form>
    <input type="hidden" id="article_latitude" value="<%= @article.latitude %>" />
    <input type="hidden" id="article_longitude" value="<%= @article.longitude %>" />
    <input type="hidden" id="article_zoom_level" value="<%= @article.country.zoom_level %>" />
  </form>
  <%= render :partial => 'countries/country_map', :locals => {:editable => false} %>
</div>
