<h1><%= @article.title %></h1>
<p>
  Startet <%= l(@article.start_date, :format => :dy_mo_yr) %> og varte <%= distance_of_time_in_words(@article.end_date, @article.start_date) %>.
  <% if @article.published_date %>
    Publisert for <%= time_ago_in_words(@article.published_date) %> siden
  <% else %>
    Artikkelen er ikke publisert. <%= link_to 'Trykk', publish_article_path(@article) %> for å publisere.
  <% end %>
</p>
