<% unless asset.object.new_record? %>
  <div class="clearboth"></div>
  <li class="galleryitem">
    <%= asset.hidden_field :galleryitem_position %>
    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
    <span class="left"><%= image_tag asset.object.galleryitem.url(:thumb) %></span>
    <p>
      <%= asset.label :galleryitem_caption, 'Text' %>
      <%= asset.text_field :galleryitem_caption %>
    </p>
    <p>
      <%= asset.label :_destroy, 'Delete?' %>
      <%= asset.check_box :_destroy %>
    </p>
    <p>
      <%= asset.label :galleryitem_use_in_column, 'Show in text?' %>
      <%= asset.check_box :galleryitem_use_in_column %>
    </p>
  </li>
  <div class="clearboth"></div>
<% end %>
