<div id="progress_wrapper">
<div id="progress">
  <%= image_tag 'loader.gif' %>
</div>
<div id="progressbar"></div>
</div>
<div id="statusdiv"><p id="statusupdate"></p></div>
<div id="drop_help">
  <p>
      Drag and drop files on the box to start the upload &raquo;
  </p>
</div>
<div id="drop_area">
</div>
<div id="degregated_upload_area">
  <p>
      Looks like your browser does not support drag and drop uploads so you have to upload using traditional forms
  </p>
  <!-- Fallback for ikke-html-lesere -->
  <div>
    <%= f.fields_for :assets do |asset| %>
      <% if asset.object.new_record? %>
        <p><%= asset.file_field :galleryitem %></p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="clearboth"></div>

<div id="galleryitems">
  <p>First image in the box below is the main image for the article, and will always be included.</p>
  <ul id="sortable">
    <%= f.fields_for :assets do |asset| %>
      <%= render :partial => 'editable_galleryitem', :locals => { :asset => asset } %>
    <% end %>
  </ul>
</div>
