<%= javascript_include_tag 'markitup/jquery.markitup.js', 'markitup_boot' %>
<div id="right_column">
<%= render :partial => 'countries/country_map', :locals => {:editable => true} %>
</div>

<div id="left_column">
<p>
  <%= f.label :title, 'Tittel' %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label(:start_date, 'Startdato') %>
  <span class="datetime_select">
    <%= f.datetime_select(:start_date, :default => @article.start_date) %>
  </span>
</p>

<p>
  <%= f.label(:end_date, 'Sluttdato') %>
  <span class="datetime_select">
    <%= f.datetime_select(:end_date, :default => @article.end_date) %>
  </span>
</p>

<p>
  <%= f.hidden_field :longitude %>
  <%= f.hidden_field :latitude %>
  <input type="hidden" id="article_zoom_level" value="5" />
</p>

<p>
  <%= f.label 'article[country_id]', 'Omtaler' %>
  <%= select_tag "article[country_id]", options_from_collection_for_select(@countries, :id, :title, @article.country_id) %>
</p>
</div>

<div class="clearboth">
<p>
  <div class="clearboth"></div>
  <%= f.text_area :body %>
</p>
</div>
