<%= f.error_messages %>

<%= javascript_include_tag 'new_article', 'drag_and_drop_fileupload', 'jquery.base64', :cache => true %>
<div id="tabs">

<ul>
<li><a href="#tabs-1">Artikkel</a></li>
<li><a href="#tabs-2">Bilder</a></li>
</ul>
<div id="tabs-1">
  <%= render :partial => 'form_tab_1', :locals => {:f => f} %>
</div>

<div id="tabs-2">
  <%= render :partial => 'form_tab_2', :locals => {:f => f} %>
</div>

<div class="clearboth"></div>

</div>

<p>
  <%= f.submit 'Send' %>
</p>
