<p>
  <%= f.label :title, 'Tittel' %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :body, 'Innhold' %>
  <%= f.text_area :body %>
</p>

<p>
  <%= f.label(:start_date, 'Startdato') %>
  <span class="datetime_select">
    <%= f.datetime_select(:start_date, :default => @article.start_date) %>
  </span>
</p>

<p>
  <%= f.label(:end_date, 'Sluttdato') %>
  <span class="datetime_select">
    <%= f.datetime_select(:end_date, :default => @article.end_date) %>
  </span>
</p>

<p>
  <%= f.label :published, 'Publiser' %>
  <%= f.check_box :published %>
</p>

<p>
  <%= f.hidden_field :longitude %>
  <%= f.hidden_field :latitude %>
</p>

<p>
  <%= f.label 'article[country_id]', 'Omtaler' %>
  <%= select_tag "article[country_id]", options_from_collection_for_select(@countries, :id, :title, @article.country_id) %>
</p>


<p>
  <%= f.submit 'Opprett artikkel' %>
</p>
