<div id="article_wrapper">
  
  <div id="article">
    <div id="article_admin_tools">
      <%= render :partial => "article_admin_tools", :locals => { :article => @article } %>
    </div>
   
    <div id="article_header">
      <%= render :partial => 'article_header' %>
    </div>

    <div id="article_tabs">
      <%= render :partial => 'article_tabs' %>
    </div>
   
    <div id="article_details">
   
      <p>Denne artikkelen omhandler <%= h @article.country.title %> og er
      datert <%= getArticleStartEndDate(@article).downcase %>. Artikkelen har
      <%= pluralize @article.assets.size, 'bilde', 'bilder' %> i galleriet, og
      <%= pluralize @article.comments.size, 'kommentar', 'kommentarer' %>.
      Skriv gjerne en kommentar til oss under, da blir vi glade!</p>
    
    </div>
     
    <!-- COMMENTS -->
    <div id="article_comments">
      <%= render :partial => 'article_comments' %>
    </div>
  </div>
</div>
