<div id="article_wrapper">
  
  <div id="article">
    <div id="article_admin_tools">
      <%= render :partial => "article_admin_tools", :locals => { :article => @article } %>
    </div>
   
    <div id="article_header">
      <%= render :partial => 'article_header' %>
    </div>

    <div id="article_tabs">
      <%= render :partial => 'article_tabs' %>
    </div>
   
    <div id="article_details">
   
      <p>This article tells about <%= h @article.country.title %> and is
      dated <%= getArticleStartEndDate(@article).downcase %>. The article has
      <%= pluralize @article.assets.size, 'picture', 'pictures' %> in the gallery, and
      <%= pluralize @article.comments.size, 'comment', 'comments' %>.
      Please write us a comment below, that'll make us happy!</p>
    
    </div>
     
    <!-- COMMENTS -->
    <div id="article_comments">
      <%= render :partial => 'article_comments' %>
    </div>
  </div>
</div>
