<div id="article_admin_tools">
  <%= render :partial => "article_admin_tools", :locals => {:article => @article} %>
</div>
<div id="article_header">
  <%= render :partial => 'article_header' %>
</div>

<div id="article_body">
  <div id="country_map">
    <%= render :partial => 'countries/country_map', :locals => {:editable => false} %>
  </div>
  <%= render :partial => 'article_body' %>
</div>

<div id="article_galleryitems">
  <%= render :partial => 'article_galleryitems', :locals => {:assets => @article.assets } %>
</div>

<div id="article_comments">
</div>
