<div id="article_wrapper">
  
  <div id="article">
    <div id="article_admin_tools">
      <%= render :partial => "article_admin_tools", :locals => { :article => @article } %>
    </div>
   
    <div id="article_header">
      <%= render :partial => 'article_header' %>
    </div>

    <div id="article_tabs">
      <%= render :partial => 'article_tabs' %>
    </div>
   
    <div id="article_details">
   
      <p>This article is written about <span class="bold"><%= h @article.country.title %></span> and is
      dated <%= getArticleStartEndDate(@article) %>. The article has
      <span class="bold"><%= pluralize @article.assets.size, 'picture', 'pictures' %></span> in the gallery, and
      <span class="bold"><%= pluralize @article.comments.size, 'comment', 'comments' %></span>.
      Please write us a comment below, that'll make us happy! We understand a couple of languages, but English or Norwegian is preferred :-)</p>
    
    </div>
     
    <!-- COMMENTS -->
    <div id="article_comments">
      <%= render :partial => 'article_comments' %>
    </div>
  </div>
</div>
