<li>
<a href="javascript:;">
<span class="imageColumn">
<% if random_article.main_asset %>
<%= image_tag "#{image_type}_article.png", :class => 'overlayimg' %>
<%= image_tag random_article.main_asset.galleryitem.url(:thumb), :class => 'smallimg' %>
<% else %>
No pic
<% end %>
</span>
<h2><%= h(truncate(random_article.title, :length => 29, :omission => '...')) %></h2>

<p>Updated <%= time_ago_in_words(random_article.updated_at) %> ago, published <%= time_ago_in_words(random_article.published_date) %> ago</p></a>

</li>
