<div id="front_page">
  <span id="feed_img" title="Subscribe to our feed!">
    <%= link_to image_tag('feed.png'), articles_url(:atom) %>
  </span>
<div id="welcome_box">
  <h1>welcome</h1>


  <p>Greetings and welcome to the travel blog for Malene &amp; KM. We usually travel together and gather our best experiences, images and stories in articles on this site. Feel free to read them, browse the images and if you'd like to say something &ndash; good or bad &ndash; please post a comment!</p>

  <%= image_tag 'coconut.png' %>

  <p>To access our articles, use the above map or menu to navigate.</p>


</div>

<div class="clearboth"></div>

<div id="random_articles">
  <ul id="random_articles_list">
  <%= render :partial => 'random_article', :collection => @newest_articles, :locals => {:image_type => 'fresh'} %>
  <%= render :partial => 'random_article', :collection => @random_articles, :locals => {:image_type => 'random'} %>
  </ul>
  <ul id="output">
  <%= render :partial => 'random_article_output', :collection => @newest_articles + @random_articles %>
  </ul>
</div>

</div>
