<div id="front_page">
  <span id="feed_img" title="Subscribe to our feed!">
    <%= link_to image_tag('feed.png'), articles_url(:atom) %>
  </span>
<div id="welcome_box">
  <h1>welcome</h1>


  <p>Greetings and welcome to our totally renewed blog. The web site has
  radically changed, and contains now solely our travel articles The travel
  articles from the old blog are rewritten with significant improvements
  regarding their content quality, while the rest of the articles are
  removed.</p>

  <%= image_tag 'coconut.png' %>

  <p>To access our articles, use the above map or menu to navigate.</p>


</div>

<div class="clearboth"></div>

  <h1>one fresh article and a couple of random ones</h1>
<div id="random_articles">
  <ul id="random_articles_list">
  <%= render :partial => 'random_article', :collection => @newest_articles, :locals => {:image_type => 'fresh'} %>
  <%= render :partial => 'random_article', :collection => @random_articles, :locals => {:image_type => 'random'} %>
  </ul>
  <ul id="output">
  <%= render :partial => 'random_article_output', :collection => @newest_articles + @random_articles %>
  </ul>
</div>

</div>
