<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tag %>
    <%= auto_discovery_link_tag(:atom, '/articles.atom') %>
    <%= include_stylesheets :common %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin' %>
    <%= javascript_include_tag("http://maps.google.com/maps/api/js?sensor=false") %>
    <%= include_javascripts :common %>
    <title><%= 'MKM :: ' %><%= @title %></title>
  </head>
  <body>
  <div id="outermostWrap">
      <%= image_tag 'logo.png', :id => 'logo' %>
      <div id="banner">
        <div id="tools">
          <%= render :partial => "page/tools" %>
        </div>
        <%= render :partial => 'page/map_banner' %>
        <div id="navigation">
          <%= render :partial => 'continent/continent_navigation', :locals => { :continents => @continents } %>
          <div class="clearboth"></div>
        </div>
      </div>
    <div id="mainwrap">
      <div id="content">
        <% if flash[:error] %>
          <div id="flash_error">
            <%= flash[:error] %>
          </div>
        <% elsif flash[:warning] %>
          <div id="flash_warning">
            <%= flash[:warning] %>
          </div>
        <% elsif flash[:notice] %>
          <div id="flash_notice">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= yield :layout %>
        <div class="clearboth"></div>
      </div>
    </div>
    </div>
    <%= javascript_include_tag 'ga' %>
  </body>
</html>
