<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= javascript_include_tag :defaults, 'OpenLayers', 'navigation', :cache => true %>
    <title><%= 'MKM :: ' %><%= h @title %></title>
  </head>
  <body>
    <div id="mainwrap">
      <div id="banner">
        <div style="float: left;">
          <p>
            <%= link_to 'Hjem', root_url %>
            <%= link_to 'Ny artikkel', new_article_path %>
          </p>
        </div>
        <%= render :partial => 'page/map_banner' %>
        <div id="navigation">
          <%= render :partial => 'continent/continent_navigation', :locals => { :continents => @continents } %>
        </div>
      </div>
      <div id="content">
        <% if flash[:error] %>
          <div id="flash_error">
            <%= flash[:error] %>
          </div>
        <% elsif flash[:warning] %>
          <div id="flash_warning">
            <%= flash[:warning] %>
          </div>
        <% elsif flash[:notice] %>
          <div id="flash_notice">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= yield :layout %>
      </div>
    </div>
  </body>
</html>
