<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag :all, :cache => true %>
    <script src="http://code.jquery.com/jquery-1.4.4.js"></script>
    <script>
      jQuery.noConflict();
    </script>
    <%= javascript_include_tag :defaults, 'jquery-ui-1.8.7.custom.min.js', 'random_image_shuffle', 'popups', 'jQueryRotate', 'OpenLayers', 'navigation', :cache => true %>
    <title><%= 'MKM :: ' %><%= h @title %></title>
  </head>
  <body>
  <div id="outermostWrap">
      <div id="banner">
        <div>
          <p style="float: right;">
            <%= link_to "<span class='ui-icon ui-icon-home'></span>", root_url, :title => 'Home' %>
          </p>
          <p style="float: right;">
            <%= link_to "<span class='ui-icon ui-icon-circle-plus'></span>", new_article_path, :title => 'Create new article' %>
          </p>
          <p style="float: right;">
            <%= link_to_login_with_IP "<span class='ui-icon ui-icon-locked'></span>", :title => 'Log in' %>
          </p>
          <p style="float: right;">
            <%= link_to "<span class='ui-icon ui-icon-unlocked'></span>", logout_path, :title => 'Log out' %>
          </p>
          <% if session[:user_id] and session[:user_id].to_s =~ /\d+/ %>
          <p style="float: right;">
            <%= link_to "<span class='ui-icon ui-icon-wrench'></span>", edit_user_path(:id => session[:user_id]), :title => 'View and change user settings' %>
          </p>
          <% end %>
        </div>
        <%= render :partial => 'page/map_banner' %>
        <div id="navigation">
          <%= render :partial => 'continent/continent_navigation', :locals => { :continents => @continents } %>
          <div class="clearboth"></div>
        </div>
      </div>
    <div id="mainwrap">
      <div id="content">
        <% if flash[:error] %>
          <div id="flash_error">
            <%= flash[:error] %>
          </div>
        <% elsif flash[:warning] %>
          <div id="flash_warning">
            <%= flash[:warning] %>
          </div>
        <% elsif flash[:notice] %>
          <div id="flash_notice">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= yield :layout %>
        <div class="clearboth"></div>
      </div>
    </div>
    </div>
  </body>
</html>
